{% embed '@orchard/components/section.html.twig' with { class: 'gap-y-8' } %}
  {% block slot %}
    <header class="span-content grid md:grid-cols-12 gap-fluid-grid-gap">
      <h2 class="uppercase tracking-wider text-2xl xl:text-3xl leading-[1.1] md:col-start-3 md:col-span-8 text-center grid justify-center-safe space-y-5">
        {{ label }}
        <hr class="max-w-xs mt-4 lg:mt-6">
      </h2>
    </header>

    <ul class="span-content grid md:grid-cols-12 gap-2.5">
      {% set view = content['#view'] %}
      {% if view.result %}
        {% for row in view.result %}
          <li class="flex flex-col items-start md:col-span-8 md:col-start-3 lg:col-span-4 lg:col-start-0 space-y-7">

            {# Image #}
            {% if row._entity.field_image.0 %}
              {% set image = row._entity.field_image.0 %}
              <figure class="w-full aspect-[4/3] overflow-hidden">
                <img
                  src="{{ file_url(image.entity.fileuri) }}"
                  alt="{{ image.alt }}"
                  class="w-full h-full object-cover"
                >
              </figure>
            {% endif %}

            {# Content #}
            <div class="space-y-2 w-full text-center px-7">
              <h3 class="text-xl font-bold">
                {{ row._entity.title.value }}
              </h3>
              <div class="prose leading-snug">
                {{ row._entity.field_summary.processed|raw }}
              </div>
            </div>

          </li>
        {% endfor %}
      {% endif %}
    </ul>
  {% endblock %}
{% endembed %}
